#container {
    width: 900px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(https://mmohuts.com/wp-content/uploads/2016/02/MU-Online-Season-11-Trailer.png);
    margin-top: 15px;
    margin-bottom: 15px;
}
#principal {
    text-align: center;
    color: #fff;
    font-family: cursive;
    height: 600px;
    background-color: #000000a1;
    padding-top: 15px;
}
#resp{
	widht:90%;
	margin:auto;
}
#header{
	
}
.lnkforum{
	float:left;
	position:relative;
	left:14%;
}
.lnkshop{
	float:right;
	position:relative;
	left:-14%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #0c1119;
}
#footer {
    color: #fff;
    text-align: center;
    background-color: #000;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	background-image:url(http://jquery.com/jquery-wp-content/themes/jquery/images/dark-grey-tile.png);
}

.edit {
    text-align: center;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
	color:black;
}

.btn-success {
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 100px;
    font-weight: bold;
}
.edit{
	text-align:center;
	
}
.mensagem{
	text-decoration:underline;
	text-shadow: #fff 1px 1px 1px;
}

.desc-icon {
    background-color: #369FCF;
    border-radius: 69px;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 27px!important;
    height: 50px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: -20px;
    padding: 12px 0;
    text-align: center;
    width: 50px;
   display: inline-block;
    font-family: awesome;
}

a {
    color: #e9f0f5;
    text-decoration: none;
    padding-left: 20px;
    font-size: 28px;
}
a:visited{
    color: #e9f0f5;
    text-decoration: none;
    padding-left: 20px;
    font-size: 28px;
}
a:hover{
    color: #e9f0f5;
    text-decoration: none;
    padding-left: 20px;
    font-size: 28px;
	cursor:pointer;
}
